/* general */
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    overflow-x: hidden;
}

body{
    font-size: 1rem;
}
/*
=============
    nav
=============
*/
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: fixed;
    width: 100%;
    background-color: #181818;
    z-index: 1;
    opacity: 96%;
    transition: .5s;

}
#nav .hide-menu{
    display: none;
}

#nav .visible-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    padding: 1em 0;
    position: relative;
}

#nav a{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: .5s;
}

#nav a:hover{
   border-color: wheat;
   border-style: solid;
   border-width: 0 0 .05em 0;
   margin-bottom: .2em;
   padding-bottom: .2em;
   width: fit-content;
}

#nav img{
    width: 4%;
    margin: .5em 1em;
    transition: .3s;
}

.open{
    color: white;
    transform: rotate(180deg);
}

/*
=============
    main
=============
*/
#main{
    background-image: url(./images/background.jpg);
    background-size:cover;
    background-position-y: 20%;
    height: 100%;
    padding-bottom: 5em;   
}

#main .content{
    margin-top: 37em;
    margin-left: 30em;
}

#main h1{
    color: white;
    font-size: 3rem;
    text-wrap: balance;
    text-align: start;
    text-transform: uppercase;
    width: 13em;
}

#main h3{
    color: #eee;
    font-size: 2rem;
    text-align: start;
    font-weight: 100;
    padding-bottom: .3em;
}

#main button{
    border: .3em solid white;
    background-color: transparent;
    padding: .5em 5em;
    font-size: 1rem;
    transition: .3s;
    cursor: pointer;
}

#main button a{
    color: white;
    text-decoration: none;
}

#main button:hover{
    background-color: rgb(211, 192, 192);
    border-color: rgb(211, 192, 192);
}


/*
=============
    about
=============
*/
#about{
    width: 100%;
    height: 100%;
    background-color: #262626;
    padding: 5em 0;
}

#about .text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 85%;
    height: 100%;
    margin: auto;
    text-align: justify;
}

#about .about-title{
    font-size: 3rem;
    text-transform: uppercase;
    padding-bottom: 1em;
}

#about p{
    line-height: 1.7;
    font-size: 1.2rem;
}


/*
=============
    plans
=============
*/

#plans {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    background-color: #1f1f1f;
    position: relative;
    padding: 3em 0;
    width: 100%;
}

#plans .plans-title{
    position: absolute;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    top: 1em;
}

#plans .plan{
    background: #eee;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
    transition: .5s;
    box-shadow: 0 0 5px white;
    width: 25%;
    margin-top: 8em;
    padding-bottom: 2em;
}

#plans .plan:hover{
    transform: scale(1.1);
}

#plans .title{
    padding: 1em;
    background-color: #b3b2b2;
}

#plans .price{
    padding: 1em;
    padding-bottom: 2rem;
    background-color: #d1d1d1;
    font-size: 1.5rem;
}

#plans .price p{
    font-size: 1rem;
    position: relative;
    bottom: -1em;
}

#plans .text p{
    padding: 1em ;
    font-size: 1.2rem;
    color: black;
}

#plans button{
    width: 95%;
    padding: 1em 0;
    border-radius: 10px;
    border-color: #b3b2b2;
    transition: .3s;
    cursor: pointer;
    border: .2em solid #ccc;
    font-size: 1rem;
    position: relative;
}

#plans .btn-1{
    top: 23%;
}

#plans .btn-2{
    top: 12%;
}

#plans button:hover{
    transform: scale(1.1);
}

/*
=============
    transformation
=============
*/
#transformations{
    background-color: #1a1a1a;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: 5em 0;
    width: 100%;
}

#transformations .transformations-title{
    position: absolute;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    top: 1em;
}

#transformations .transformation{
    background: #eee;
    border-radius: 10px;
    padding: .5em;
    transition: .5s;
    box-shadow: 0 0 5px #ccc;
    width: 25%;
    height: fit-content;
    margin-top: 6%;
    overflow: hidden;
}

#transformations .transformation:hover{
    transform: scale(1.1);
}


#transformations p{
    line-height: 1.7;
    font-size: 1.2rem;
    width: 100%;
}

#transformations img{
    width: 100%;
    border-radius: 10px;
}


/*
=============
    footer
=============
*/
footer{
    background-color: #0d0d0d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
}

footer .text{
    color: white;
    width: 80%;
    line-height: 1.7;
    margin-top: 3em;
    font-size: 1.2rem;
}

footer .icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .icons .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    width: 100%;
    margin: 1em;
}

footer .icons i{
    padding: .5em;
}

/*
=============
    media
=============
*/
/* @media(max-width:2840px){
    html{
        font-size: 35px;
    }
}

@media(max-width:2740px){
    html{
        font-size: 34px;
    }
}

@media(max-width:2640px){
    html{
        font-size: 33px;
    }
}

@media(max-width:2540px){
    html{
        font-size: 32px;
    }
}

@media(max-width:2440px){
    html{
        font-size: 31px;
    }
}

@media(max-width:2340px){
    html{
        font-size: 30px;
    }
}

@media(max-width:2240px){
    html{
        font-size: 29px;
    }
}

@media(max-width:2140px){
    html{
        font-size: 28px;
    }
}

@media(max-width:2040px){
    html{
        font-size: 27px;
    }
}

@media(max-width:1940px){
    html{
        font-size: 26px;
    }

}

@media(max-width:1840px){
    html{
        font-size: 25px;
    }
}
*/

/* @media(max-width:1740px){
    html{
        font-size: 17px;
    }
}
 */
/* @media(max-width:1640px){
    html{
        font-size: 16.5px;
    }
}
 */
@media(max-width:1540px){
    html{
        font-size: 14px;
    }
}

@media(max-width:1440px){
    html{
        font-size: 15px;
    }

    #main .content{
        margin-top: 35em;
        margin-left: 28em;
    }    
}

@media(max-width:1340px){
    html{
        font-size: 14px;
    }
}

@media(max-width:1240px){
    html{
        font-size: 13.5px;
    }
}

@media(max-width:1140px){
    html{
        font-size: 13px;
    }

    #main .content{
        margin-top: 32em;
        margin-left: 25em;
    }
}

@media(max-width:1040px){
    html{
        font-size: 12.5px;
    }
}

@media(max-width:940px){
    html{
        font-size: 12px;
    }

    #main .content{
        margin-top: 30em;
        margin-left: 22em;
    }    
}

@media(max-width:840px){
    #nav .visible-menu{
        display: none;
    }

    #nav .hide-menu{
        display: block;
        margin-top: -1%;
    }

    #nav .content{
        display: none;
        flex-direction: column;
        margin: .5em 2.7em;
        line-height: 1.7;
    }

    #nav i{
        color: wheat;
        font-size: 2.5rem;
        transition: .3s;
        margin: .5em 1em .1em 1em;
    }

    #nav img{
        width: 5%;
        margin-top: .5em;
    }

    #main .content{
        margin-top: 25em;
        margin-left: 20em;
    }    
}

/* menu */
@media(max-width:740px){
    html{
        font-size: 11px;
    }

    #nav i{
        font-size: 3rem;
    }

    #nav .content{
        margin: .5em 3.1em;
    }

    #main h1{
        font-size: 1.5rem;
    }

    #main h3{
        font-size: 1.2rem;
    }

    #main button{
        font-size: .6rem;
    }

}

@media(max-width:640px){
    #plans{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #plans .plan{
        width: 80%;
    }

   #transformations{
        justify-content: center;
        flex-direction: column;
        padding: 6em 0;
    }

    #transformations .transformation{
        width: 80%;
    } 

    #main .content{
        margin-top: 22em;
        margin-left: 18em;
    }    
}

@media(max-width:540px){
    #main .content{
        margin-top: 17em;
        margin-left: 13em;
    }    

    #main{
        padding: 0 0 4em 0;
    }
}

@media(max-width:440px){
    #nav i{
        font-size: 2rem;
    }

    #nav .content{
        margin: .5em 2.1em;
    }

    #nav img{
        width: 7%;
    }

    #main h1{
        font-size: 1.1rem;
    }

    #main h3{
        font-size: 1rem;
    }

    #main button{
        font-size: .5rem;
    }

    #main .content{
        margin-top: 11em;
        margin-left: 8.5em;
    } 
    
    #main{
        padding: 2em;
    }
}

@media(max-width:340px){
    html{
        font-size: 9.5px;
    }

    #main .content{
        margin-top: 11em;
        margin-left: 7em;
    } 

}

@media(max-width:280px){
    html{
        font-size: 8px;
    }
}

@media(max-width:230px){
    html{
        font-size: 6px;
    }

}

@media(max-width:180px){
    html{
        font-size: 4px;
    }
}

